/*Colors Theme
Bleu foncé : #0056A3
Bleu clair : #2CBDEB
Rouge : #E00637
Vert : 	
Gris : ECE8E7
*/


* {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

/* Fonts
-----------------------------------------------------------------------------*/
/*importer la font Barlow*/

@font-face{
	font-family:"Barlow";
	src:url("../webfonts/Barlow-Regular.ttf")  format("truetype");
}

body {
	font: 12px Barlow, Arial, sans-serif;
	color: #0056A3;
	width: 100%;
}
.container {
	width: 1300px;
	margin: 0 auto;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	background-image: linear-gradient(0deg, rgba(185, 206, 0, 0.58),rgba(0, 86, 163, 0.62)), url(../images/banner.jpg);
	background-repeat:no-repeat;
	background-position:top;
	background-size:cover;
        height: 700px;
}

.container-header {
 color: white;
display:flex;
justify-content: space-between;
		
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
}

.breadcrumb {
	padding: 2rem;
}

section {
	padding: 5rem;
}

.section-one {

}

.section-two {
	background: #F6F4F3;
}

.section-three {

}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 100px;
	background: #F6F4F3;
	padding: 2rem;
}
